.sidenav {
  width: 260px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  padding-top: 0px;
  background-color: #000000;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.sideitem {
  display: flex;
  align-items: center;
  /* justify-items: center; */
  padding: 8px 8px;
  padding-left: 16px;
  cursor: pointer;
  color: #ACBFD5;
  text-decoration: none;
  /* font-size: 14px; */
  margin: 4px 8px;
}


.linkText {
  padding-left: 8px;
}

.linkTextTwo {
  padding-left: 4px;
}

.linkTextClosed {
  composes: linkText;
  visibility: hidden;
}

.sideitem:hover {
  /* background-color: #E5F1FD; */
  color: #B3E94E;
  /* border-radius: 8px; */
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #525252;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

